html
{
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
//Header

#header
{
    height: 4.5rem;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #5264FF;
    color: #DDDDDD;
    border-radius: 1%;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    .letter-bank
    {
        background: #99A5FF;
        width: 20%;
        height: 60%;
        text-align: center;
        padding: .5rem;
        margin-top: .5rem;
        margin-left: .5rem;
        margin-bottom: 0rem;
        font-size: 1rem;

        span
        {
            color: #112244;

        }


        .letter-bank-A
        {
            padding-right: 1rem;

            .used
            {
                color: #FFEEEE;
            }
        }

        .letter-bank-B
        {
            padding-left: 1rem;

            .used
            {
                color: #FFEEEE;
            }
        }
        
    }

    img
    {
        height: 3.5rem;
        width: auto;
        padding-right: 1rem;
        margin: 0 .5rem;
    }
}

//Main body of the page
.wrapper
{
    //Makes the game-area into a flex element
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: #FEFEFE;
    align-items: center;
    justify-items: center;
    
    //Area where the word blanks are shown, words and letters are input, tries left, and stick figure will be
    #game-area
    {
/*         align-self: center;
        justify-self: center; */
        margin: auto;

       .container 
       {
           display: flex;

           flex-direction: column;
/* 
           position: absolute;
           left: 0; */

           //background: purple;
/* 
           height: 600px;
           width: 100vw; */

           //Stick figure will be here
           .hangman
           {
                display: flex;
                flex-direction: column;
                flex-basis: 3fr;
                width: 95vw;
                height: 45vh;
                align-self: center;
                justify-self: center;
                text-align: center;
                padding-top: 2rem;

                img
                {
                    height: 10rem;
                    width: auto;
                    padding-right: 1rem;
                    margin: 0 .5rem;
                }
           }
           
           //Where the letter blanks '_' are
           .letterblanks
           {
               height: 5vh;
               //background: green;

               display: flex;

                flex-direction: column;

                //Each blank is a list element in an ul
               ul 
               {
                   //Blanks are spread horizontailly
                   display: flex;

                 

                   list-style: none;

                   font-size: 1.5rem;

                   //background: red;

                   //Blanks will begin from the center and spread outwards
                   text-align: center;
                   justify-content: center;
                   align-content: center;
                   
                   .letter
                   {

                    font-size: 1.5rem;
                    font-family: 'Space Mono', monospace;
                    margin: .2rem;
                    list-style: none;
                    margin-bottom: -2rem;
                    margin-top: 0rem;
                    padding: 0;

                   }

                   .letterblank
                   {
                    font-family: 'Space Mono', monospace;
                    font-size: 1.5rem;
                    list-style: none;
                    margin: .2rem;
                    margin-top: -3rem;
                    padding: 0;

                   }
               }
           }

           //Areas to input words and letters
           .inputAreas
           {
               flex-basis:  1fr;
               height: 35vh;
               //background:yellow;
               display: flex;
               flex-direction: column;

               #form
               {
                   text-align: center;
                   align-self: center;
                   justify-self: center;
                   padding-top: 5rem;

                   //Attributes shared by word ans letter input
                   input[type=text]
                   {
                        margin:.5rem;
                        padding: 1rem;
                        //background: yellow;
                        text-align: center;
                        align-self: center;
                        justify-self: center;
                        height: 1px;
                        border: none;
                        font-size: 1.5rem;
                        border-bottom: solid 3px #C4C4DD;

                   }

                   .letter-input
                    {
                        width: 1.5rem;
                    }

                    .input-word
                    {
                        width: 15rem;
                    }

                    
                    //Attributes shared by all buttons 
                   .btn
                   {
                       background: #5264FF;
                       color: #EEEEFF;
                       margin: 0rem;
                       margin-top: .8rem;
                       margin-left: -.8rem;
                       padding: .2rem;
                       height: 2.5rem; 
                       width: 5rem;
                       border-radius: .8rem;
                       font-size: .8rem;


                   }

                   .letter-btn
                   {

                       padding-bottom: 2.5rem;
                   }
               }
           }

       }

    
    }    
}



#footer
{
    position: sticky;
    bottom:0;
    height: 2.5rem;
    width: 100vw;
    margin-right: 7px;
    background: #8895FF;
    border-radius: 1%;
    justify-self: flex-end;
    align-self: flex-end;
};

    